### Intellij ###
.idea
**/*.project
**/*.settings
**/*.iml
.idea/*
.idea/**
.project
.settings
*.iml
.settings/*

### Java ###
*.class
.classpath

# Package Files #
*.jar
*.war
*.ear

# Folders #
**/target
target
*/target/
*/*/target
target/*
out/
classes/

